body {
  color: white;
  background-color: black;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr  3fr  3fr;
  grid-template-areas:
             "header header  header"
             "sidebar content content";
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.folder .folder-content {
  display: none;
}

div.folder.open  ul.folder-content{
  display:block;
}